@media (max-width: 1270px){
    .decor{
        display: none;
    }
}

@media (max-width: 1080px){
    .header__logo-title{
        display: none;
    }
    .galery__bottom{
        flex-wrap: wrap;
        gap: 30px;
    }
    .galery__bottom-content{
        width: 100%;
        margin-bottom: 10px;
    }
    iframe{
        height: 400px !important;
    }
    .contacts__wraper{
        position: relative;
        max-width: 96%;
        margin-bottom: -85px;
    }
}

@media (max-width: 980px){
    .price__box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .price__form {
        min-height: auto;
        .galery__bottom-tel,
        .form__input,
        .form__btn{
            margin-bottom: 30px;
        }
    }
    .about__bottom{
        flex-direction: column;
    }
    .about__bottom-box{
        margin-top: 25px;
    }
}

@media (max-width: 900px){
    .header__location{
        display: none;
    }
    .errors__inner{
        flex-wrap: wrap;
        justify-content: center;
    } 
    .footer__inner{
        flex-wrap: wrap;
        gap: 30px;
    } 
    .footer__item:nth-child(1),
    .footer__item:nth-child(3) {
        max-width: 45%;
        width: 100%;
    }  
    .footer__item:nth-child(2),
    .footer__item:nth-child(4){
        max-width: 210px;
        width: 100%;
    }
}

@media (max-width: 800px){
    
    .header__text{
        color: $title;
    }
    .header::before{
        width: 65%;
    }
    .galery__item{
        .galery__content{
            box-shadow: none;
        }
    }
    .galery__item:nth-child(2){
        .galery__content{
            box-shadow: 0px 25px 5px 3px rgba(240,247,252,.94);
        }
    }
    .galery__item:nth-child(3),
    .galery__item:nth-child(4),
    .galery__item:nth-child(5),
    .galery__item:nth-child(6){
        grid-column: span 3;
        grid-row: span 1;
    }
    .responsibility__inner{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .responsibility__img{
        max-width: 700px;
        width: 100%;
        min-height: 350px;
    }
    .responsibility__content{
        width: 100%;
    }
    .free__inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .step__content{
        padding: 25px 20px;
        gap: 30px;
        justify-content: space-between;
    }
    .step__content-item{
        padding: 30px 15px;
    }
    .step .tabs-tags {
        justify-content: center;
        flex-wrap: wrap;
    }
    .step .tabs-tags__tag{
        width: 50%;
    }
    .about__inner{
        flex-direction: column-reverse;
    }
    .about__descr{
        width: 100%;
        padding: 15px;
    }
    .about__video{
        width: 100%;
    }
    .slider__inner{
        flex-direction: column;
        padding: 25px 0 0;
    }
    .slider__item {
        max-width: 760px;
        width: 100%;
        border-radius: 9px;
    }
    .slider__wraperbox {
        width: 100%;        
    }
    .slider-r{
        padding-bottom: 20px;
    }
    .slider__left{
        .slider__wraperbox{
             order: inherit; 
        }        
        .slider__item{
            border-radius: 9px;
        }
    }
    .slider__content {
        width: 100%;
    }
    .slider .slick-next{
        left: auto;
        right: -15px;
    }
    .slider .slick-prev{
        opacity: 1;
        left: -15px;
    }
    .question__inner{
        flex-direction: column;
    }
}

@media (max-width: 650px){
    .header__logo{
        font-size: 28px;    
    }
    .header__top {
        flex-wrap: wrap;
        gap: 20px;
    }
    .galery__inner{
        grid-template-rows: repeat(3, 1fr);
    }
    .galery__item:nth-child(1),
    .galery__item:nth-child(2){
        grid-column: span 3;
        grid-row: span 1;
    }
    .galery__item:nth-child(1),
    .galery__item:nth-child(2){
        .galery__content{
            box-shadow: none;
        }
    }
    .price__item{
        width: 100%;
    }
    .step .tabs-tags__tag{
        width: 100%;
    }
    .step__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .step__content-item{
        padding: 10px 15px;
    }
    .about__bottom-box{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;
    }
    .question__item {
        padding: 15px;
    }
    .contacts__wraper{
        padding: 15px;
    }
    .contacts__inner{
        flex-wrap: wrap;
        gap: 20px;
    }
    .contacts__text{
        font-size: 14px;
    }
    .tabs-tags{
        flex-wrap: wrap;
        justify-content: center;
    }
    .tabs-tags__tag{
        font-size: 14px;
        padding: 12px;
        width: 30%;
    }
}

@media (max-width: 540px){
    .title,
    .title2{
        line-height: 1.3;
    }
    
    .header__logo-img{
        width: 90px;
    }
    .header__download{
        padding: 5px 8px;
    }
    .header__bottom{
        padding: 30px 5px 30px;
    }
    .header__advertising{
        flex-direction: column;
    }
    .header__inner,
    .errors,
    .galery,
    .price,
    .responsibility,
    .free,
    .step,
    .about,
    .slider__left,
    .question{
        padding-bottom: 60px;
    }
    .galery__inner{
        display: flex;
        flex-direction: column;
        width: auto;

    }
    .price__textbox span,
    .price__dec{
        display: none;
    }    
    
    .tabs-content{
        overflow-y: auto;
    }
    .row{
        padding: 12px;
        gap: 12px;
    }
    .col{
        width: 30%;
        font-size: 12px;
    }
    .col3{
        width: 37%;        
    }
    .slider__content{
        padding: 20px;
    }
    .footer__inner{
        flex-direction: column;
        align-items: center;
    }
    .footer__item{
        max-width: 100%;
        text-align: center;
    }
    .footer__logo-img{
        margin: 0 auto 10px;
    }
}

@media (max-width: 450px){
    .free .subtitle,
    .price .subtitle{
        display: none;
    }
    .form{
        padding: 30px 25px;
    }
    .about__video {
        background-position: left center;
    }
    .about__video-link {
        margin-right: 15px;
        max-width: 190px;
    }
    .about__video-link::before {
        transform: translate(-75px, -30px);
    }
    .about .parallelogram {
        width: 215px;
    }
    .about__descr{
        padding: 5px;
    }
    .about__descr p{
        padding: 15px;
    }
    .slider__wraperbox {
        height: 350px;
    }
    .slider__item{
        height: 350px;
    }
}